<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="article">
            <h2><span jhiTranslate="commandeCadeauApp.article.detail.title">Article</span> {{ article.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="commandeCadeauApp.article.designation">Designation</span></dt>
                <dd>
                    <span>{{ article.designation }}</span>
                </dd>
                <dt><span jhiTranslate="commandeCadeauApp.article.stock">Stock</span></dt>
                <dd>
                    <span>{{ article.stock }}</span>
                </dd>
                <dt><span jhiTranslate="commandeCadeauApp.article.nbPoints">Nb Points</span></dt>
                <dd>
                    <span>{{ article.nbPoints }}</span>
                </dd>
                <dt><span jhiTranslate="commandeCadeauApp.article.description">Description</span></dt>
                <dd>
                    <span>{{ article.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/article', article.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
