<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-article-heading" jhiTranslate="commandeCadeauApp.article.home.createOrEditLabel">Create or edit a Article</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="commandeCadeauApp.article.designation" for="field_designation">Designation</label>
                    <input type="text" class="form-control" name="designation" id="field_designation"
                           formControlName="designation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="commandeCadeauApp.article.stock" for="field_stock">Stock</label>
                    <input type="number" class="form-control" name="stock" id="field_stock"
                           formControlName="stock"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="commandeCadeauApp.article.nbPoints" for="field_nbPoints">Nb Points</label>
                    <input type="number" class="form-control" name="nbPoints" id="field_nbPoints"
                           formControlName="nbPoints"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="commandeCadeauApp.article.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
